@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, rgb(11, 1, 42), rgb(3, 3, 62), rgb(4, 4, 143));
}

header {
    background-image: linear-gradient(to right, rgb(11, 1, 42), rgb(3, 3, 62), rgb(4, 4, 143));
    color: white;
    padding: 5px;
    display: inline-block;
    width: 100%;
    height: 95px;
    position: fixed;
    top: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    margin-left: 40px;
    display: inline-block;
}

header nav {
    float: right;
}

header nav {
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin-top: 45px;
    
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

a:hover {
    background-color: rgb(61, 72, 235);
    color: white;
    transition: all .5s;
}

main {
    background-image: linear-gradient(to right, rgb(11, 1, 42), rgb(3, 3, 62), rgb(4, 4, 143));
    padding: 20px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: rgb(210, 255, 8);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: rgb(106, 198, 255);
}

section {
    margin: 50px;
    padding: 20px;
}

#segunda-coluna {
    display: inline-block;
}

#botao {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 110px;
    border: solid 0.5px white;
    border-radius: 20px;
    background-color: rgb(58, 58, 176);
    color: #fff;
    padding: 15px;
    display: inline-block;
    margin-top: 90px;
    margin-left: 150px;
    cursor: pointer;
    
}

#botao:hover {
    background-color: #fff;
    color: rgb(10, 10, 87);
    transition: all .5s;
}

footer {
    background-color: #fff;
    max-width: 800px;
    height: 300px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
    padding: 10px;
}



#redes-sociais {
    background-color: rgb(27, 24, 229);
    color: #fff;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    text-align: center;
}

.fab {
    font-size: 32px;
    margin-right: 20px;
}

.fa-facebook-square {
    color: rgb(4, 4, 199);
}

.fa-instagram-square {
    color: rgb(197, 5, 43);
}

.fa-linkedin {
    color: rgb(84, 84, 232);
}

ul {
    margin-top: 30px;
}

ul > li {
    display: block;
    font-size: 1.5em;
    line-height: 55px;
}

#marca {
    text-align: center;
    padding-bottom: 10px;
}